# Clés API d'exemple pour le projet Multi-Agents (EXEMPLE UNIQUEMENT)
GEMINI_API_KEY=votre_cle_gemini_ici

# LangSmith Tracing (Observabilité)
LANGSMITH_TRACING=true
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=votre_cle_langsmith_ici
LANGSMITH_PROJECT="Bug Fixing & Code Review"
